<a href="https://colab.research.google.com/github/UjalaPatel/Machine_Learning/blob/master/housing_multi_linear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_fwf("D:\Study\Sem9\ML\Practice\Internal_Practice\housing.txt")
data.head()

,0.00632,18.00,2.310,0,0.5380,6.5750,65.20,4.0900,1,296.0,15.30 396.90,4.98,24.00
0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.80 396.90,9.14,21.6
1,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.80 392.83,4.03,34.7
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.70 394.63,2.94,33.4
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.70 396.90,5.33,36.2
4,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222.0,18.70 394.12,5.21,28.7

In [ ]:
x = data.iloc[:,0:10].values
y = data.iloc[:,12].values

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn.linear_model import LinearRegression
lin_reg =LinearRegression()
lin_reg.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_pred = lin_reg.predict(x_test)
y_pred

array([37.56776762, 17.98699666, 26.58686252, 10.52206433, 23.09082539,
       21.58554325, 20.40198607, 23.26870123, 18.55046033, 17.94053433,
       26.39382898, 17.39309931, 19.43211552, 22.34585875, 19.26923718,
       26.96379561, 19.78056947, 17.95712655, 32.73427388, 28.26553844,
       37.95335657, 21.72313321, 25.04280706, 24.72992893, 24.7341629 ,
       23.39760579, 24.15640369, 24.93482378, 25.68370086, 29.28500598,
        8.0133391 , 21.13995254, 18.42473786, 18.70155469, 18.03771733,
       32.56137087, 27.45545957, 27.93741683, 33.01801318, 19.79953653,
       15.77096171, 21.41680781, 26.53359751, 28.25248015, 24.50145107,
       22.32273322, 24.97040162, 23.88044651, 21.62997651,  8.96346386,
       20.61515177, 11.42058115, 36.9903772 , 14.52860079, 22.76483983,
       29.24464672, 25.39557755, 28.75079411, 19.61948583, 14.3054416 ,
       18.02952845, 19.08012681, 19.91259451, 22.98749713, 23.01682205,
       22.79815452, 23.5497969 , 14.11472139, 16.72830736, 15.34851722,
       11.26215799, 15.65247211, 36.88992369, 22.86552053, 20.72511723,
       25.72532375, 23.02117722, 24.49910063, 17.43526383, 14.93093453,
       22.16819656, 22.02953035, 23.13111107, 29.48672944, 21.9626509 ,
       40.29592288,  9.45622697, 18.09164401, 17.145395  , 19.18548406,
       18.64747022, 24.81266745, 25.56578224, 29.46093918, 31.53469032,
       10.05306729, 10.39756731, 27.92092257, 25.4570394 , 33.9528184 ,
       18.70876235])

In [ ]:
from sklearn.metrics import accuracy_score
acc_score = lin_reg.score(x_test,y_test)
"Accuracy: {}%".format(int(round(acc_score*100)))

'Accuracy: 63%'