<a href="https://colab.research.google.com/github/UjalaPatel/Machine_Learning/blob/master/play_data_knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
dataset = pd.read_csv("D:\Study\Sem9\ML\Practice\Internal_Practice\Exam\play_data.csv")
dataset.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [ ]:
from sklearn.preprocessing import LabelEncoder
label1 = LabelEncoder()
dataset['outlook'] = label1.fit_transform(dataset["outlook"].astype(str))
dataset['temp'] = label1.fit_transform(dataset["temp"].astype(str))
dataset['humidity'] = label1.fit_transform(dataset["humidity"].astype(str))
dataset['wind'] = label1.fit_transform(dataset["wind"].astype(str))
dataset["play"] = label1.fit_transform(dataset["play"].astype(str))

In [ ]:
dataset.head()

  day  outlook  temp  humidity  wind  play
0  D1        2     1         0     1     0
1  D2        2     1         0     0     0
2  D3        0     1         0     1     1
3  D4        1     2         0     1     1
4  D5        1     0         1     1     1

In [ ]:
x = dataset.iloc[:,1:5].values
y = dataset.iloc[:,5].values

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [ ]:
import math
math.sqrt(len(y_test))

2.23606797749979

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 1)
classifier.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=1)

In [ ]:
y_pred = classifier.predict(x_test)

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))
print(accuracy_score(y_test,y_pred)*100)

              precision    recall  f1-score   support

           0       0.67      0.67      0.67         3
           1       0.50      0.50      0.50         2

    accuracy                           0.60         5
   macro avg       0.58      0.58      0.58         5
weighted avg       0.60      0.60      0.60         5

[[2 1]
 [1 1]]
60.0

In [ ]:
y_new = classifier.predict([[2,0,0,0]])
print(y_new)
if  y_new == 1:
    print("they can play game")
else : 
    print("they can not play games")

[1]
they can play game